.Container1 {
    border: 10px gold;
    border-width: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.Container2 {
    border: 10px gold;
    border-width: 10px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.main1 {
    flex-shrink: 1;
}

body {
    background-color: rgb(43, 43, 43);
}

p {
    color: whitesmoke;
}

.name {
    color:whitesmoke;
    font-size:80px;
}

#info {
    color:whitesmoke;
    font-size:40px;
}

.header {
    color:whitesmoke;
}

.hobby {
    color:whitesmoke;
}

.social {
    width: 50;
    height: 50px;
}

#ryuga {
    height:190px;
    width: 300;
}

#ow {
    height:190px;
    width:127px;
}

#vg {
    height:190px;
    width:130px;
}

#pete{
    height:190px;
    width: 300px;
}

#vb {
    height:190px;
    width:250px;
}

#badminton {
    height:190px;
    width:250px;
}

#drums {
    height:190px;
    width:190px;
}